body {
    background: black;
}

#canvas1 {
    border: 3px solid white;
    background-color: #2c2a2a;
    width: 1500px;
    height: 900px;
    position: relative;
 
    display: block;
    margin: 0 auto;
}